<% @products.each do |product| %>
    <div class="card col-md-3 col-sm-6 my-5">
        <div class="card-body single-shop-product">
            <img src="/assets/product-2.jpg" alt="">
            <div class="card-text">
                <h2><a href=""><%= product.title %></a></h2>
                <div class="product-carousel-price">
                    <ins><%= product.price %></ins>
                </div>  
                
                <%= button_to product_items_path(product_id: product), class: "btn btn-default" do%>
                    <i class="fa fa-shopping-cart"></i>    Add to cart
                <% end %>                       
            </div>
        </div>
    </div>     
<% end %>